.move-up {
    bottom: 31px;
    left: 30px;
}
.move-up button {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.move-up button:active:hover {
    padding-right:4px !important;
    margin-right:2px;
}
