.move-up {
    bottom: 50px;
    left: 30px;
}
.move-up button {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 40px;
    width: 40px;
}
.move-up button:active:hover {
    padding-right:4px !important;
    margin-right:2px;
}
