.scroll-top-button {
    position: fixed;
    z-index:399;
    color: $secondary;
    
    border-radius: 8px;
    overflow: hidden;
    
    cursor: pointer;
}

.scroll-top-button .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: $tertiary;
    
    width: 100%;
    height: 100%;
}